/*
    这是首页的样式
 */
$mainColor : #58bc58;
$highlightColor : yellow;
$padding : 5px 20px 10px 15px;
$fontSize : 12px !default;
$direction : top;

$headings: (h1: 2em, h2: 1.5em, h3: 1.2em);

.nav{
    $highlightColor : orange;
    width: 1000px;//这是nav的宽度
    height: 160px;
    padding: $padding;
    line-height: 40px;
    background-color: $highlightColor;
    color: #fff;
    ul{
        width: 2400px;
        padding-top: nth($padding,3) * 2 ;
        padding-bottom: map-get($headings,h1);
        list-style: none;
        padding: 0;
        margin: 0;
        overflow: hidden;
    }
    li{
        float: left;
        padding: 5px 15px;
        padding-#{$direction}: 10px;
        position: relative;
        color: #666; 
        a{
            display: inline-block;
            color: #fff;
            &.home{
                background-color: orange;
            }
        }
        ul{
            position: absolute;
            padding: 5px 20px;
            color: #ccc;
            a:hover{
                color: #5b8c58;
            }
        }
        &:last-child{
            float:right;
        }
    }

}