h1, h2, h3, h4, p {
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 48px;
  background-color: #40a140;
}

h2 {
  font-size: 32px;
  background-color: #327c32;
}

h3, h4 {
  font-size: 16px;
  background-color: #235823;
}

.col-xs-1 {
  width: 5%;
}

.col-xs-2 {
  width: 10%;
}

.col-xs-3 {
  width: 15%;
}

.col-xs-4 {
  width: 20%;
}

.col-xs-5 {
  width: 25%;
}

.col-xs-6 {
  width: 30%;
}

.col-xs-7 {
  width: 35%;
}

.col-xs-8 {
  width: 40%;
}

.col-xs-9 {
  width: 45%;
}

.col-xs-10 {
  width: 50%;
}

.col-xs-11 {
  width: 55%;
}

.col-xs-12 {
  width: 60%;
}

.col-xs-13 {
  width: 65%;
}

.col-xs-14 {
  width: 70%;
}

.col-xs-15 {
  width: 75%;
}

.col-xs-16 {
  width: 80%;
}

.col-xs-17 {
  width: 85%;
}

.col-xs-18 {
  width: 90%;
}

.col-xs-19 {
  width: 95%;
}

.col-xs-20 {
  width: 100%;
}

h4 {
  background-color: #58bc58;
}

p {
  color: green;
  font-size: 100px;
}
